/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 62.5%;
}

:root {
    --primary-clr: #725cff;
    --white: #e5e4eb;
    --grey: #646277;
    --black: #373543;
    --card-clr: #ececec;
    --card-shadow-clr: rgba(114, 92, 255, 0.16);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, Arial;
    background-color: var(--white);
}

nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    width: 12rem;
    margin-left: 8rem;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        li{
            display: flex;
            align-items: center;
            gap: 1.6rem;

            .nav-line {
                width: 0.8rem;
                height: 1px;
                background-color: var(--black);
            }
            
            a {
                font-size: 1.6rem;
                color: var(--black);
            }

            a.active {
                font-weight: 700;
            }
        }
    }
}

section#start {
    height: 100vh;
    margin-left: 20vw;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    position: relative;
    top: 40%;

    h1 {
        font-size: 6.4rem;
    }

    p {
        font-size: 4rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 24rem;
    margin-left: 16vw;
    margin-bottom: 24rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding-inline: 12rem 24rem;
}

h2 {
    font-size: 4rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;

    div {
        text-wrap: nowrap;
        font-size: 2rem;
        padding: 1.2rem 2.4rem;
        border: 1px solid var(--black);
        border-radius: 1.6rem;
    }
}

.timeline {
    position: relative;

    .line {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 1.2rem;
        transform: translateX(-50%);
        background-color: var(--primary-clr);
    }
    
    .entries {
        display: flex;
        flex-direction: column;
        gap: 12rem;

        .entry {
            display: flex;
            align-items: center;
            gap: 4rem;

            .marker {
                min-width: 2.4rem;
                min-height: 2.4rem;
                border-radius: 50%;
                background-color: var(--primary-clr);
                border: 0.4rem solid var(--white);
                z-index: 10;
                box-sizing: border-box;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                h3, p {
                    font-size: 2rem;
                }

                .description {
                    color: var(--primary-clr);
                }
            }
        }
    }
}

.cards {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

    .card {
        background-color: var(--card-clr);
        border-radius: 0.8rem;
        max-width: 51.2rem;
        box-shadow: 0.4rem 0.4rem 2.4rem var(--card-shadow-clr);
        
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding: 3.2rem 3.2rem 8rem;


        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.6rem;
        }

        .chips {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;

            * {
                font-size: 1.2rem;
                padding: 0.4rem 1.2rem;
                border: 1px solid var(--black);
                border-radius: 12rem;
                text-wrap: nowrap;
            }
        }
    }  
}


section#cv {
    /*background-color: var(--primary-clr);*/
    background-image: url(images/Gradient_purple.png);
    background-size: cover;
    margin: 0;
    padding: 20rem 24rem;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12rem;

    button {
        padding: 1.2rem 2.4rem;
        border: 1px solid var(--black);
        border-radius: 1.6rem;
        background: none;

        a {
            color: var(--black);
            font-size: 2.4rem;
            text-wrap: nowrap;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    padding: 8rem 32rem;

    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: end;
        gap: 12rem;
    
        .social-links {
            display: flex;
            gap: 6.4rem;
            flex-wrap: wrap;
    
            .link {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
    
                h3 {
                    font-size: 2.4rem;
                    font-weight: 500;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
    
    .footer-info {
        display: flex;
        justify-content: space-between;
        gap: 8rem;
    
        p, a {
            font-size: 1.6rem;
            display: block;
            margin-bottom: 0.4rem;
            text-wrap: nowrap;
        }
    
        h4 {
            font-size: 1.6rem;
            margin-bottom: 1.6rem;
            text-wrap: nowrap;
        }
    }
}

@media (max-width: 768px) {

    nav {
        display: none; /*gets changed later in the process*/
    }

    section#start {
        margin: 0;
    }

    main {
        margin: 0 0 12rem;
    }

    section {
        padding-inline: 4rem;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
    
        div {
            text-wrap: nowrap;
            font-size: 1.6rem;
            padding: 0.8rem 1.6rem;
            border: 1px solid var(--black);
            border-radius: 1rem;
        }
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 2rem;

        .card {
            padding: 3.2rem;
        }
    }

    section#cv {
        flex-wrap: wrap;
        justify-content: start;
        gap: 4rem;
        padding: 12rem 4rem;
    }

    footer {
        padding: 4rem;
    }
}
