/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 62.5%;
}

:root {
    --primary-clr: #725cff;
    --white: #e5e4eb;
    --grey: #646277;
    --black: #373543;
    --card-clr: #ececec;
    --card-shadow-clr: rgba(114, 92, 255, 0.08);
    --card-shadow-hover: rgba(114, 92, 255, 0.20);
}

.circle {
    --circle-size: 4rem;
    position: fixed;
    width: var(--circle-size);
    height: var(--circle-size);
    border: 1px solid var(--black);
    border-radius: 50%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 2000;
    transition: width 0.4s, height 0.4s;
}

.hover {
    --circle-size: 1.6rem;
    border: none;
    background-color: var(--primary-clr);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: Inter, Arial;
    background-color: var(--white);
}

button {
    padding: 1.2rem 2.4rem;
    border: 2px solid var(--black);
    border-radius: 1.6rem;
    background: none;
    cursor: pointer;
    width: fit-content;
    transition: border-radius 0.2s ease-in-out;

    a {
        color: var(--black);
        font-size: 2.4rem;
        font-weight: 400;
        text-wrap: nowrap;
    }
}

button:hover {
    border-radius: 3.2rem;
}

.open-menu {
    display: none;
    z-index: 900;
}

.close-menu {
    display: none;
}

nav {
    z-index: 1000;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    width: 12rem;
    margin-left: 8rem;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        li{
            display: flex;
            align-items: center;
            gap: 1.6rem;

            .nav-line {
                width: 0.8rem;
                height: 1px;
                background-color: rgb(180, 180, 180);
                transition: 0.2s;
            }

            .nav-line.active {
                width: 1.6rem;
                background-color: var(--black);
            }
            
            a {
                font-size: 1.6rem;
                color: var(--grey);
            }

            a.active {
                color: var(--black);
                font-weight: 500;
            }
        }

        li:hover {
            .nav-line {
                width: 1.6rem;
                background-color: var(--primary-clr);
            }

            a {
                color: var(--primary-clr);
                font-weight: 500;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 24rem;
    margin-left: 16vw;
    margin-bottom: 24rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding-inline: 12rem 24rem;
}

section#start {
    height: 100svh;
    margin-left: 16vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    padding-inline: 12rem;


    header {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding-top: 8rem;
        

        h1 {
            font-size: 8rem;
            color: var(--black);
        }

        p {
            font-size: 4rem;
            color: var(--primary-clr);
        }
    }

    img {
        z-index: -100;
        width: 50%;
        min-width: 600px;
        max-width: 1000px;
    }
}



h2 {
    font-size: 4rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    list-style-type: none;
    max-width: 1400px;

    li {
        text-wrap: nowrap;
        font-size: 2rem;
        padding: 1.2rem 2.4rem;
        border: 1px solid var(--black);
        border-radius: 1.6rem;

        /*Fade-In Animation*/
        opacity: 0;
        transform: translateY(4rem);
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: 100px 400px;
    }

    li:hover {
        background-color: rgba(114, 92, 255, 0.04);
    }
}

.timeline {
    position: relative;

    .line {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 1.2rem;
        transform: translateX(-50%);
        background-color: var(--primary-clr);
    }
    
    .entries {
        display: flex;
        flex-direction: column;
        gap: 12rem;

        .entry {
            display: flex;
            align-items: center;
            gap: 4rem;

            .marker {
                min-width: 2.4rem;
                min-height: 2.4rem;
                border-radius: 50%;
                background-color: var(--primary-clr);
                border: 0.4rem solid var(--white);
                z-index: 10;
                box-sizing: border-box;
            }

            .content {
                /*Fade-In Animation*/
                opacity: 0;
                transform: translateY(4rem);
                animation: fade-in linear forwards;
                animation-timeline: view();
                animation-range: 100px 400px;

                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                .title {
                    display: flex;
                    gap: 1.6rem;
                    align-items: center;
                }

                h3, p {
                    font-size: 2rem;
                }

                .description {
                    color: var(--primary-clr);
                }
            }
        }
    }
}

@keyframes fade-in {
    to { opacity: 1; transform: translateY(0);}
}


.cards {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));

    .card {
        background-color: var(--card-clr);
        border-radius: 0.8rem;
        max-width: 51.2rem;
        min-height: 20rem;
        box-shadow: 0.4rem 0.4rem 2.4rem var(--card-shadow-clr);
        padding: 3.2rem 3.2rem 8rem;
        transition: 0.2s;
        cursor: pointer;

        /*Fade-In Animation*/
        opacity: 0;
        transform: translateY(4rem);
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: 100px 400px;

        .info {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            
            h3 {
                font-size: 2rem;
            }
    
            p {
                font-size: 1.6rem;
                color: var(--primary-clr);
            }
    
            .chips {
                display: flex;
                flex-wrap: wrap;
                gap: 0.8rem;
    
                * {
                    font-size: 1.2rem;
                    padding: 0.4rem 1.2rem;
                    border: 1px solid var(--black);
                    border-radius: 12rem;
                    text-wrap: nowrap;
                }
            }
        }

        a {
            display: none;
        }

        .description {
            display: none;
        }
    }  

    .card:hover {
        box-shadow: 0.4rem 0.4rem 2.4rem var(--card-shadow-hover);
        scale: 1.01;
    }

    .open  {
        position: fixed;
        z-index: 1100;
        top: 0;
        left: 0; 
        max-width: none;
        width: 100vw;
        height: 100svh;
        padding: 0;

        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4rem);
        cursor: unset;

        .content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 24rem 4rem;

            .card-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 4rem;

                .info {
                    max-width: 70%;
                    gap: 3.2rem;

                    h3 {
                        font-size: 4rem;
                    }
            
                    p {
                        font-size: 2.4rem;
                    }
            
                    .chips {            
                        gap: 1.2rem;
                        margin-bottom: 4rem;
            
                        * {
                            font-size: 1.6rem;
                            padding: 0.8rem 1.6rem;
                        }
                    }
                }

                a {
                    display: block;
                    border: 1px solid var(--black);
                    width: 4rem;
                    height: 4rem;
                    border-radius: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 2.4rem;
                        height: 2.4rem;
                        transition: 0.4s;
                    }
                }

                a:hover img{
                    transform: rotate(90deg)
                }
            }

            .description {
                display: block;
                font-size: 2.4rem;
            }  
        }   
    }

    .card.open:hover {
        box-shadow: unset;
        scale: 1;
    }
}

section#cv {
    background-image: url(images/Gradient_purple.png);
    background-size: cover;
    margin: 0;
    padding: 20rem 24rem;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12rem;

    h2 {
        /*Slide-In Animation*/
        opacity: 0;
        transform: translateX(-6.4rem);
        animation: slide-in linear forwards;
        animation-timeline: view();
        animation-range: 0 400px;
    }
}

@keyframes slide-in {
    to { opacity: 1; transform: translateX(0rem); }
}

section#contact {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    padding: 8rem 32rem;
    max-width: 1400px;
    margin: 0 auto;

    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: end;
        gap: 12rem;
        /*Fade-In Animation*/
        opacity: 0;
        transform: translateY(4rem);
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: 100px 400px;
    
        .social-links {
            display: flex;
            gap: 6.4rem;
            flex-wrap: wrap;
    
            .link {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                color: var(--black);

                img {
                    width: 4rem;
                    height: 4rem;
                }
    
                h3 {
                    font-size: 2.4rem;
                    font-weight: 500;
                }

                p {
                    font-size: 1.6rem;
                }
            }

            .link:hover {
                cursor: pointer;

                h3 {
                    color: var(--primary-clr);
                }
            }
        }
    }
    
    .footer-info {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 8rem;
    
        p, a {
            font-size: 1.6rem;
            display: block;
            margin-bottom: 0.4rem;
            text-wrap: nowrap;
            color: var(--black);
        }
    
        h4 {
            font-size: 1.6rem;
            margin-bottom: 1.6rem;
            text-wrap: nowrap;
        }

        a:hover {
            color: var(--primary-clr);
        }
    }
}

@media (max-width: 768px) {
    
    .open-menu {
        display: block;
        position: fixed;
        top: 4rem;
        left: 4rem;
    }

    nav {
        z-index: 1000;
        top: 0;
        left: 0;
        margin: 0;
        padding: 4rem;
        padding-right: 12rem;
        transform: translateY(0);

        height: 100svh;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4rem);
        box-shadow: 0 0.4rem 2.4rem var(--card-shadow-clr);

        .close-menu {
            margin-bottom: 8rem;
            display: block;
        }

        transform: translateX(-100%);
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    nav.open {
        transform: translateX(0%);
    }

    
    section#start {
        margin: 0 0 24rem;
        padding-inline: 4rem;

        header {
            top: 20%;
        }
    }

    main {
        margin: 0 0 12rem;
    }

    section {
        padding-inline: 4rem;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
    
        li {
            text-wrap: nowrap;
            font-size: 1.6rem;
            padding: 0.8rem 1.6rem;
            border: 1px solid var(--black);
            border-radius: 1rem;
        }
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 2rem;

        .open  {
            width: unset;
            padding: 2.4rem;
            overflow: scroll;
    
            .content {
                padding: 0;
    
                .card-header {
                    flex-direction: column-reverse;
                    gap: 4rem;
                    margin: 0;
    
                    .info {
                        max-width: unset;
                        gap: 2.4rem;
    
                        h3 {
                            font-size: 2.4rem;
                        }
                    }
    
                    a {
                        align-self: flex-end;
                    }
                }
            }   
        }
    }

    

    section#cv {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4rem;
        padding: 12rem 4rem;
    }

    section#contact {
        padding: 4rem;
    }
}
